<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>家庭成员信息登记</title>
</head>
<body>
  <header class="page-header">
    <div class="header__btn-left" id="backBtn"><i class="_icon icon-left"></i></div>
    <div class="header__title">家庭成员信息登记</div>
    <div class="header__btn--right" id="logOut">退出</div>
  </header>

  <div class="J-scroller swiper-container">
    <div class="swiper-slide">
      <div class="input__radio">
        <label>是否为户主</label>
        <input class="J-holder" type="radio" name="holder" value="1"/>是
        <input class="J-holder" type="radio" name="holder" value="2"/>否
      </div>
    </div>
    <div class="swiper-slide">
      <form class="form-container" id="holderForm">
        <input type="hidden" name="isHouseholder" value="1" />
        <div class="input__text">
          <label>姓名</label>
          <input type="text" name="username" />
        </div>
        <div class="input__text">
          <label>户号</label>
          <input type="text" name="familyNumber" />
        </div>
        <div class="input__text">
          <label>所属村落</label>
          <select class="J-village" name="village"></select> 
        </div>
        <div class="input__text">
          <label>助记码</label>
          <input type="text" name="mnemonicCode" />
        </div>
        <div class="input__text">
          <label>联系号码</label>
          <input type="text" name="telephone" />
        </div>
        <div class="input__text">
          <label>门牌号</label>
          <input type="text" name="houseNumber" />
        </div>
        <div class="input__text">
          <label>家庭地址</label>
          <input type="text" name="address" />
        </div>
        <div class="form-btn">
          <button type="button" id="holderBtn">保存</button>
        </div>
      </form>
    </div>

    <div class="swiper-slide">
      <form class="form-container" id="notHolderForm">
        <input type="hidden" name="isHolder" value="0" />

        <div class="input__text">
          <label>姓名</label>
          <input type="text" name="username" />
        </div>

        <div class="input__text">
          <label>身份证号</label>
          <input type="text" name="idCard" />
        </div>

        <div class="input__select">
          <label>与户主关系</label>
          <select name="relation">
            <option value="1">配偶</option>
            <option value="2">父子</option>
            <option value="3">母子</option>
            <option value="4">父女</option>
            <option value="5">母女</option>
            <option value="6">爷孙</option>
          </select>
        </div>

        <div class="form-btn">
          <button type="button" id="notHolderBtn">保存</button>
        </div>
      </form>
    </div>
  </div>

</body>
</html>
