<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>党员信息</title>
</head>
<body>
  <header class="page-header">
    <div class="header__btn-left" id="backBtn"><i class="_icon icon-left"></i></div>
    <div class="header__title">党员信息</div>
    <div class="header__btn--right" id="logOut">退出</div>
  </header>

  <div id="party-member-slot"></div>

</body>
</html>
